@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <h1>Шейкерная сортировка</h1>
</div>

<div>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Сортировка миксером, или Шейкерная сортировка, или двунаправленная (англ. CockTail sort) — разновидность пузырьковой сортировки. Анализируя метод пузырьковой сортировки, можно отметить два обстоятельства.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Во-первых, если при движении по части массива перестановки не происходят, то эта часть массива уже отсортирована и, следовательно, её можно исключить из рассмотрения.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Во-вторых, при движении от конца массива к началу минимальный элемент «всплывает» на первую позицию, а максимальный элемент сдвигается только на одну позицию вправо.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Эти две идеи приводят к следующим модификациям в методе пузырьковой сортировки. Границы рабочей части массива (то есть части массива, где происходит движение) устанавливаются в месте последнего обмена на каждой итерации. Массив просматривается поочередно справа налево и слева направо.
    </p>
</div>

<div class="text-lg-center">
    <h4 class="display-6">
        База данных
    </h4>
</div>
<div>
    <table class="table">
        <tr>
            <th>Id</th></>
            <th>Статус</th>
            <th>Массив</th>
            <th></th>
        </tr>

    	@foreach (var item in Model)
		{
                
			<tr>
				<td>@item.Id</td>
				<td>@item.SortStatus</td>
				<td>@item.Numbers</td>
            </tr>
        }
    </table>
</div>